.profile {
  max-width: 880px;
  margin: 40px auto 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__avatar-container {
  position: relative;
  margin-right: 30px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  flex: 1;
}

.profile__title-row {
  display: flex;
  align-items: center;
  gap: 18px;
}

.profile__title {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  color: #fff;
}

.profile__description {
  margin: 10px 0 0;
  font-size: 18px;
  color: #fff;
  opacity: 0.6;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background: transparent url("../../images/pen.svg") center/contain no-repeat;
  cursor: pointer;
  background-size: 10px 10px; /* ou 12px 12px */
}

.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background: transparent url("../../images/button_plus.svg") center/22px 22px no-repeat;
  cursor: pointer;
}
