.popup__figure {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 75vw;
}

.popup__image {
  display: block;
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  object-fit: contain;
}

.popup__caption {
  margin-top: 10px;
  color: #ffffff;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (max-width: 540px) {
  .popup__figure {
    max-width: 90vw;
  }

  .popup__image {
    max-width: 90vw;
    max-height: 70vh;
  }
}
