.content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}



.cards {
  width: 100%;
  padding-bottom: 66px;
  box-sizing: border-box;
}

.cards__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(282px, 100%), 1fr));
  gap: 20px 17px;
}

