.card {
  width: 282px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  border: none;
  padding: 0;
  background: transparent url("../../images/trash.svg") center/contain no-repeat;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.6;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.card__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__like-button {
  width: 21px;
  height: 19px;
  border: none;
  padding: 0;
  background: transparent url("../../images/like.svg") center/contain no-repeat;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}


.card__like-button_active {
  background-image: url("../../images/like-active.svg");
}
