.card {
  width: 282px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  display: block;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.card__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
}
