.elements {
  margin: 0 auto;
  padding: 0;
  max-width: 880px;
}

.elements__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.elements__card {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  max-width: 282px;
  width: 100%;
  position: relative;
}

.elements__image {
  width: 100%;
  height: 282px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.elements__remove {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  border: none;
  background: transparent url("../images/Trash.svg") center no-repeat;
  cursor: pointer;
}

.elements__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 20px 26px;
}

.elements__text {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: #000000;
  max-width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.elements__like {
  width: 22px;
  height: 19px;
  border: none;
  background: transparent url("../images/Like.svg") center no-repeat;
  cursor: pointer;
}

.elements__like-on {
  background-image: url("../images/Like_active.svg");
}

@media screen and (max-width: 768px) {
  .elements {
    max-width: 580px;
  }
}

@media screen and (max-width: 480px) {
  .elements {
    max-width: 282px;
  }
}
