.footer {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding: 67px 0 60px;
}


@media screen and (max-width: 920px) {
  .footer {
    padding: 48px 19px 36px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
