.footer {
  max-width: 880px;
  width: 100%;
  display: flex;
  padding: 35px 0 60px;
  margin: 0 auto;
  color: navy;
}

.footer__copyright {
  font-size: 20px;
  line-height: 22px;
  margin: 0;
  color: navy;

  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 100%;
}


.footer__copyright span {
  color: inherit;
}

@media screen and (max-width: 934px) {
  .footer {
    max-width: 836px;
  }
}
