.popup {
  background-color: rgba(0, 0, 0, 0.507);
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-hidden {
  display: none;
}

.popup__conteiner {
  width: 430px;
  min-height: 330px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 34px 36px 36px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.popup__close {
  background: transparent url(../images/Close.svg) center no-repeat;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -40px;
  right: -43px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.popup__close-zoom {
  background: transparent url(../images/Close.svg) center no-repeat;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -40px;
  right: -43px;
  padding: 0;
  border: none;
  cursor: pointer;
}
.popup__close:hover {
  opacity: 0.6;
}

.popup__text {
  width: 330px;
  font-weight: 900;
  font-size: 24px;
  margin: 0 0 54px;
}

.popup__profile {
  display: flex;
  flex-direction: column;
  width: 358px;
}
.popup__name {
  font-weight: 400;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #00000065;
  padding: 0 0 13px;
}

.popup__about {
  font-weight: 400;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #00000065;
  margin-top: 25px;
  padding: 0 0 13px;
}

.popup__confirm {
  min-height: 181px;
}

.popup__avatar {
  font-weight: 400;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #00000065;
  margin-top: 25px;
  padding: 0 0 13px;
}

.popup__text-confirm {
  margin-bottom: 38px;
}
.popup__save-confirm {
  width: 358px;
  height: 50px;
  background: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.popup__save:hover {
  opacity: 0.6;
}
.popup__save {
  width: 358px;
  height: 50px;
  background: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 35px;
}

.popup__addpic {
  display: flex;
  flex-direction: column;
  width: 358px;
}
.popup__avatar-form {
  display: flex;
  flex-direction: column;
}

.popup__zoom {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: cover;
}

.popup__conteiner-zoom {
  box-sizing: border-box;
  position: relative;
}
.popup__caption {
  height: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #fff;
  margin: 10px auto 0;
}

.popup__input_type_error {
  border-bottom: 1px solid red;
}

.popup__error {
  color: red;
  font-size: 12px;
  line-height: 14px;
  margin-top: 5px;
  height: 28px;
}

.popup__error_visible {
  display: block;
}

.popup__button_disabled {
  background-color: transparent;
  color: #66666654;
  cursor: default;
  pointer-events: none;
  border: solid 2px;
}

@media screen and (max-width: 632px) {
  .popup__conteiner {
    width: 282px;
    height: 322px;
    padding: 25px 22px 22px;
  }
  .popup__close {
    width: 30px;
    height: 30px;
    top: -73px;
    right: -18px;
  }
  .popup__text {
    width: 238px;
    font-size: 18px;
  }
  .popup__name {
    width: 238px;
    font-size: 14px;
  }
  .popup__about {
    width: 238px;
    font-size: 14px;
    margin: 20px 0 0;
  }
  .popup__save {
    width: 238px;
    height: 46px;
    font-size: 14px;
    margin-top: 25px;
  }

  .popup__error {
    width: 220px;
  }
  .popup__confirm {
    height: 0;
  }

  .popup__text-confirm {
    margin-bottom: 38px;
  }
  .popup__save-confirm {
    max-width: 282px;
    width: 100%;
  }
}